---
layout: main
---


{% assign cat_url  = "/depth_estimation/" %}
{% assign cat_title = "Depth Estimation"%}
{% assign cat_content = "We percieve world in 3D, machines do the same in pixel values, inorder bridge this Depth Estimation is formulated and is an active area of research. "%}

<article class="post">
  <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : "depth-image-black-and-white.jpg"}})" href="{{cat_url | prepend: site.baseurl}}"></a>
  <div class="post-content">
    <h2 class="post-title"><a href="{{cat_url | prepend: site.baseurl}}">{{cat_title}}</a></h2>
    <p>{{ cat_content | strip_html | truncatewords: 30 }}</p>
  </div>
</article>



{% assign cat_url  = "/adversarial_training/" %}
{% assign cat_title = "Adversarial Training"%}
{% assign cat_content = "State-of-the-art neural networks show execllent generalization, some times even across domains, but are susceptible to structed adversarial perturbations let's review works on generating them. "%}

<article class="post">
  <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : "adversarial_training.png"}})" href="{{cat_url | prepend: site.baseurl}}"></a>
  <div class="post-content">
    <h2 class="post-title"><a href="{{cat_url | prepend: site.baseurl}}">{{cat_title}}</a></h2>
    <p>{{ cat_content | strip_html | truncatewords: 30 }}</p>
  </div>
</article>


{% for post in site.posts %}
  {% if post.content_type  == "main_page" %}
    <article class="post">
      {% if post.img %}
        <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
      {% else %}
      {% endif %}
      <div class="post-content">
        <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
        <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
        <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
        <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
      </div>
    </article>
  {% endif %}  
{% endfor %}


{% include pagination.html %}

